<p>Thank you very much !</p>

<p>Your purchase : </p>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td>{{item.product.name}}</td>
            <td>{{item.product.price}} €</td>
            <td>{{item.quantity}}</td>
            <td>{{item.product.price * item.quantity}} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>Cheers !</p>

<hr>

<p>Name of the company</p>
<p>Adress of the company</p>