<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href={{path("app_contact")}} class="nav-link px-2 text-muted">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <div class="row">
        <div class="col-sm">
            &copy; 2022 Company, Inc
        </div>
        <div class="col-sm text-end">
            <a href="#">
                <i class="fa-brands fa-lg fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-lg fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-lg fa-linkedin"></i>
            </a>
        </div>
    </div>
  </footer>
</div>

<style>

a{
    text-decoration: none;
}

</style>